input{
  file{
  path=>"C:/Users/Aditya/Desktop/n/g.csv"
  start_position=>"beginning"
  since_db=>"/dev/null"
  }
}
filter{
  csv{
  seperator=>","
  columns=>['group name','group description','isActive']

  }
}
output{
  elasticsearch{
  hosts=>"http://101.53.136.181:9200/"
  index=>"groupcsv"
  document_type=>"group_details"
  }
  stdout{}
}