input{
  file{
  path=>"C:/Users/Aditya/Desktop/n/p.csv"
  start_position=>"beginning"
  since_db=>"/dev/null"
  }
}
filter{
  csv{
  seperator=>","
  columns=>['Product Name','Model Name','Product Serial No','Group Associated','product MRP (rs.)']


  }
  mutate{convert=>["Product Serial No","long"]}
  mutate{convert=>["product MRP (rs.)","float"]}
}
output{
  elasticsearch{
  hosts=>"http://101.53.136.181:9200/"
  index=>"productcsv"
  document_type=>"product_details"
  }
  stdout{}
}